body {
	font-size:1em;
	background-color:#C0C0C0;
	padding:0;

	
}
#container {
	margin:auto;
	width:50em;
	background-image:url(../images/em.jpg);
	height:50em;
}
#header {
	border-bottom:.5em solid #336699;
	border-top:.5em solid #336699;
	
	
}