<!DOCTYPE html>
<html>
<head>
  <title>Dental</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="container">
		<div id="header">Header goes here - This is where an image of some kind will go -- logo???

		</div>
		<div id="nav" class="round box_shadow">Navigation goes here</div>
		<div id="main_content" class="round box_shadow">	
			<%= yield %>
		</div>
		<div id="footer">Additional links can be included here.  Contact information etc
			</div>
	</div>

</body>
</html>
